[submodule "CTemp/raylib"]
	path = CTemp/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "ZigTemp/raylib"]
	path = ZigTemp/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "OLD/ZigBindingsTemp/raylib-zig"]
	path = OLD/ZigBindingsTemp/raylib-zig
	url = https://github.com/raylib-zig/raylib-zig.git
